.anh1{
    position:absolute;
    top:200px;
    left:600px;
}

.anh2{
    position:absolute;
    top:190px;
    left:400px;
}

.anh3{
    position:absolute;
    top:130px;
    left:700px;
}

.anh4{
    position:absolute;
    top:450px;
    left:500px;
}

.anh5{
    position:absolute;
    top:150px;
    left:470px;
}

.anh6{
    position:absolute;
    top:230px;
    left:380px;
}

.anh7{
    position:absolute;
    top:230px;
    left:500px;
}

.anh11 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh22 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  
  .anh33 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh44 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh55 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh66{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .text10{
position:absolute;
top:690px;
/* color: white; */
  }

  .text10{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }
